In [1]:
import pandas as pd 
import numpy as np
import math
from bs4 import BeautifulSoup
import requests
import os

In [2]:
df  = pd.read_excel("input.xlsx")

In [3]:
df

     URL_ID                sea instapic instagram trip travel
0         1                                               sea
1         2                                          sea love
2         3                       beach sea trip island japan
3         4  sun sand sea sky friend beach thailand trip ad...
4         5  vsco vscocam blue bluesky sea nature naturelov...
..      ...                                                ...
145     146                                               sea
146     147  luxury homesweethome beautiful life russia des...
147     148                             sol book amor sea sun
148     149  travel trip picoftheday nature relax chilling ...
149     150  artwork artist art water paint painting landsc...

[150 rows x 2 columns]

In [6]:
with open('Love_words.txt','r') as f:
    Lovewords=f.read()

In [7]:
Love_words=Lovewords.split('\n')

In [8]:
Love_words

['love                 ',
 'friend              ',
 'beach                ',
 'family              ',
 'yellow              ',
 'girl                ',
 'fashion             ',
 'nike                ',
 'snow                ',
 'happy               ',
 'bored                ',
 'school               ',
 'beautiful            ',
 'tired                ',
 'black                ',
 'sun                  ',
 'selfie               ',
 'instagood            ',
 'nature               ',
 'smile                ',
 'spring']

In [10]:
with open('negative-words.txt','r') as f1:
    negativewords=f1.read()

In [11]:
negative_words=negativewords.split('\n')

In [12]:
negative_words

['snowboard            ',
 'sepatu               ',
 'instachile           ',
 'gorgeous             ',
 'sunglass             ',
 'baking               ',
 'passion              ',
 'homesweethome        ',
 'oldschool            ',
 'people               ',
 'springtime           ',
 'fashionblogger       ',
 'training             ',
 'basketball           ',
 'lmao                 ',
 'foodpic              ',
 'instatravel          ',
 'lake                 ',
 'with                 ',
 'guy                  ',
 'game                 ',
 'grunge               ',
 'football             ',
 'nba                  ',
 'gayboy               ',
 'hiphop               ',
 'taylorswift          ',
 'bar              ']